<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> U del Rosario </title>
</head>
<body>
    <h1> añadir actividades a estudiantes </h1>
    <form action="/Actividad_crear" method="POST">
        <label for="">id</label><input type="text" name="id">
        <label for="">descripcion </label><input type="text" name="descripcion">
        <label for="">titulo</label><input type="text" name="titulo">
        <input type="submit">
    </form>
</body>
</html>