<!-- #---consulta nota de toda la lista  -->
{% extends "baseregistro.html" %}

{% block title %}  
Lista de Notas 
{% endblock %}


{% block content %}  
<table>
    <thead>
        <tr>
            <th>ID-Estudiante</th>
            <th>ID-Actividad </th>
            <th>Nota</th>
            <th>Comentario </th>
            
        </tr>

    </thead>
    <tbody>
        {% for usu in rows %}
        <tr>
            <td>{{ usu["id_estudiante"] }} </td>
            <td>{{ usu["id_actividad"] }} </td>
            <td>{{ usu["Nota"] }} </td>
            <td>{{ usu["Retroalimentacion"] }} </td>
            
        </tr>   
        {% endfor %}
    </tbody>  
</table>
{% endblock %} 

