<!-- #---consulta nota de toda la lista  -->
{% extends "baseregistro.html" %}

{% block title %}  
Consulta lista de usuarios 
{% endblock %}


{% block content %}  
<table>
    <thead>
        <tr>
            
            <th>Nota</th>
            <th>comentario </th>
        </tr>

    </thead>
    <tbody>
        {% for usu in rows %}
        <tr>
            <td>{{ usu["Nota"] }} </td>
            <td>{{ usu["Retroalimentación"] }} </td>
        </tr>   
        {% endfor %}
    </tbody>  
</table>
{% endblock %} 

