<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Registro de Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style1.css" rel="stylesheet">
    </head>
    <body>
        <section class="form-regis">
            <h4>REGISTRO DE ACTIVIDADES</h4> 
            <p>Actividad: </p>
            <input class="control" type="text" id="acti" name="acti" placeholder="ingrese el nombre de la actividad">
            <p>Descripcion: </p>
           <textarea class="control" rows="4" cols="2" id="descr" name="descr"></textarea>
           <p>valor del acumulado: </p>
           <input class="control" type="text" id="nota" name="nota" placeholder="%">
            <p>Fecha de Inicio</p>
            <input class="control" type="date" id="fechaE" name="fechaE">
            <p>Fecha de cierre</p>
            <input class="control" type="date" id="fechaF" name="fechaF">
            <input type="submit" class="boton" value="Guardar" onclick="">
            </section>
    </body>
</html>